@import url('https://fonts.googleapis.com/css?family=Comfortaa|EB+Garamond|Jura|Open+Sans|Open+Sans+Condensed:300|Oranienbaum|Roboto|Roboto+Mono|Regular');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Comfortaa', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Jura', sans-serif;
font-family: 'Oranienbaum', serif;
*/
